*{
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Madimi One", sans-serif;
}

.div-barra-de-navegacion{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    margin-bottom: 360px;
    height: 130px;
    margin-left: -100px;    background-color: rgb(40, 61, 61);
    
    font-size: 26px;
    font-weight: bold;
    #inicio{
        color: greenyellow;
    }
    
    #busqueda{

        color: greenyellow;
        

    }
    #perfil{
        color: greenyellow;
        
    }
    #descargas{
        color: greenyellow;
    }
}

.div-imagenes-galeria{

    .title-galeria{
       display: flex;
       align-items: center;
       justify-content: center;
       text-align: center;
        margin: 0 auto;
        background: url(/IMG/william-daigneault-Omlu0KHlUiQ-unsplash.jpg) no-repeat center ;
        background-size: 100%;
        height: 400px;
        margin-bottom: 200px;
        #title{
        color: rgb(8, 169, 62);
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin: 0 auto;
        height:200px;
        margin-bottom: 10px;
        font-size: 100px;
        box-shadow: 5px 6px 10px rgb(11, 88, 10);
        font-weight: bold;
        
        }
    }
    .tipos-de-imagenes{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 2rem;
        width: 400px;
        height: 300px;
        margin-top: 50px;
        margin-left: 30px;
        border-radius: 25px;
    }
}
