*{
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Madimi One", sans-serif;
}

.div-barra-de-navegacion{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    margin-bottom: 360px;
    height: 130px;
    margin-left: -100px;  
      background-color: rgb(40, 61, 61);
    
    font-size: 26px;
    font-weight: bold;
    #inicio{
        color: greenyellow;
    }
    
    #busqueda{

        color: greenyellow;
        

    }
    #perfil{
        color: greenyellow;
        
    }
    #descargas{
        color: greenyellow;
    }
}

.div-imagenes-galeria{
    .title-galeria{
       display: flex;
       align-items: center;
       justify-content: center;
       text-align: center;
        margin: 0 auto;
        background: url(/IMG/william-daigneault-Omlu0KHlUiQ-unsplash.jpg) no-repeat center ;
        background-size: 100%;
        height: 400px;
        margin-bottom: 200px;
        #title{
        color: rgb(8, 169, 62);
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin: 0 auto;
        height:200px;
        margin-bottom: 10px;
        font-size: 100px;
        box-shadow: 5px 6px 10px rgb(11, 88, 10);
        font-weight: bold;
        
        }
    }
    .tipos-de-imagenes{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 2rem;
        width: 400px;
        height: 300px;
        margin-top: 50px;
        margin-left: 30px;
        border-radius: 25px;
        
    }
}

.div-de-las-imagenes{
 position: relative;
    .div-botones-de-imagenes{
        position: absolute;
        top: 20%;
        left: 76%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 25px;
        font-size: 20px;
        height: 28px;
        cursor: pointer;
        
        
    }
}

i{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top:89%;
    left: 85%;
    margin-bottom: 20px;
    font-size: 20px;
    height: 20px;
    color: red;
    border-radius: 25px;
    border: 3px solid white;
    cursor: pointer;
 }       

 #link-paisaje{
    position: relative;
    top: 84%;
    left: 85%;
 }
 #div-animal-pajaro{
    position: relative;
    bottom: 20px;

    #boton-pajaro{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 25%;
    }
}
#link-trabajo{
    position: relative;
    top: 84%;
    left: 85%;
}

.links-a{
    color: darkblue;
}

// Foooter

.div-footer{
display: flex;
align-items: center;
text-align: center;
justify-content: center;
margin-top: 1850px;
background-color: rgb(40, 61, 61);
height: 620px;

.div-footer-1{
 position: relative;
 left: -9%;
 bottom: 28%;
    #sobre-footer{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 40%;
    left: 13%;
    bottom: 470px;
    font-size: 24px;
    color: green;       
}
 #img-footer{
  position: relative;
  right: 20%;
  top: 11px;
  
}
#info-footer{
display: grid;
grid-template-columns: repeat(2,1fr);
column-gap: 2rem;
position: relative;
bottom: 190px;
left: 140px;
font-size: 18px;
width:70%;
font-weight: bold;
color: gray;

}
 #info-copyright-footer{
position: relative;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
top: 150px;
left: 240px;
font-size: 23px;
text-shadow: 2px 5px 10px black;
color: gray;
font-weight: bold;
 }
}

.div-footer-2{

    #title-nuestros-links{

    }
   
    #link-inicio{


    }
    #link-descarga{
        
    }
    #link-busqueda{
        
    }
    #link-perfil{
        
    }
}

.div-footer-3{

}

}

