*{
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Madimi One", sans-serif;
}

.div-barra-de-navegacion{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    margin-bottom: 360px;
    height: 130px;
    margin-left: -100px;    background-color: rgb(40, 61, 61);
    
    font-size: 26px;
    font-weight: bold;
    #inicio{
        color: greenyellow;
    }
    
    #busqueda{

        color: greenyellow;
        

    }
    #perfil{
        color: greenyellow;
        
    }
    #descargas{
        color: greenyellow;
    }
}